*.env
*.env.example
*.env.local
*.env.staging

*.venv
**/__pycache__/
data/sessions/*.db
data/sessions/*.db-shm
data/sessions/*.db-wal
data/sessions/*.bin
uv.lock
.clinerules
.clinerules/*
memory-bank
*.roo
**/.vscode/
**/.DS_Store/
.roo
memory.md